
<br>
<div class="container txt-white">
  <div class="row">
    <div style="margin-bottom: 10px;" class="col-sm-10"><h1>Perfil</h1></div>
  </div>

  <div class="row">
    <div class="col-sm-3"><!--left col-->  
      <div class="text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
        <div style="margin-top: 10px;" class="custom-file-upload">
          <label for="file-upload" class="custom-file-upload1">
              <i class="fa fa-cloud-upload"></i> Upload
          </label>
          <input id="file-upload" type="file"/>
        </div>
        
      </div> <hr>
      <ul class="list-group txt-black">
        <li class="list-group-item text-right"><span class="pull-left"><strong>Usuario</strong></span> {{ currentUser.username | titlecase }}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Rol</strong></span> {{ currentUser.userRole | titlecase }}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Clase</strong></span> Triturbo Mariachi</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Valoración</strong></span> x/5</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Comentarios</strong></span> XXX</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Fotos subidas</strong></span> XXX</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> XXX</li>
      </ul> 
      <br>
    </div>
    <div class="col-xs-9 col-sm-6">
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <div class="col-xs-6">
            <label for="first_name"><h5>Nombre:</h5></label>
            <input type="text" formControlName="firstName" placeholder="{{ this.currentUser?.firstName }}" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">Introduce tu nombre</div>
            </div>          
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-6">
            <label for="last_name"><h5>Apellido/s:</h5></label>
            <input type="text" formControlName="lastName"  placeholder="{{ this.currentUser?.lastName }}"class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Introduce tu apellido/s</div>
            </div>          
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-6">
            <label for="password">Contraseña:</label>
                <input type="password" formControlName="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Contraseña obligatoria</div>
                    <div *ngIf="f.password.errors.minlength">La contraseña debe tener almenos 6 caracteres</div>
                </div>
          </div>
        </div>
        <!-- <div class="form-group">
            
            <div class="col-xs-6">
                <label for="password"><h4>Password</h4></label>
                <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
            </div>
        </div> -->
        <!-- <div class="form-group">
          <div class="col-xs-6">
            <label for="password2"><h4>Verify</h4></label>
            <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">
          </div>
        </div> -->
        <div class="form-group">
          <div class="col-xs-12">
            <button class="btn btn-md btn-success" type="submit"><i class="fa fa-save"></i> Guardar</button>
            - <button class="btn btn-md" type="reset"><i class="fa fa-repeat"></i> Reiniciar</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-xs-3 col-sm-6"></div>
    <hr>
  </div>      
</div>       
            
            


    <!-- <script>
    $(document).ready(function() {

    
        var readURL = function(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
    
                reader.onload = function (e) {
                    $('.avatar').attr('src', e.target.result);
                }
        
                reader.readAsDataURL(input.files[0]);
            }
        }
        
    
        $(".file-upload").on('change', function(){
            readURL(this);
        });
    });
    </script> -->
    