.jumbotron{
  position: relative;
  z-index: 2;
  border-radius: .25rem;
  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
    background: url('../../assets/img/malana_02.jpg');
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: .6;
    border-radius: .25rem;
  }
  p, h1{
    color: black;
    font-weight: 600;
  }
}

.card-img-top{
  height: 40%;
}

@media (max-width: 768px) {
  .jumbotron{
    &::after{
      background-size: cover;
    }
  }
}

canvas#canvas1 {
  position: absolute;
  left: 0;
  bottom: 0;
}

canvas#canvas2 {
  position: absolute;
  right: 0;
  bottom: 0;
}