  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4 text-light">
      <h1 class="display-4">Informate sobre el cannabis de tu ciudad</h1>
      <br>
    <p class="lead">Precios, calidades, permisividad, lugares ...</p>
    </header>

    <canvas id="canvas1"></canvas>
    <canvas id="canvas2"></canvas>

    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="../../assets/img/madrid.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Madrid</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Leer +</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="../../assets/img/barcelona.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Barcelona</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Leer +</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="../../assets/img/cadiz.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Cádiz</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Leer +</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="../../assets/img/asturias.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Oviedo</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Leer +</a>
          </div>
        </div>
      </div>
      
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->